.wv-dialog {
  &-enter {
    animation: wv-dialog-enter $transition-time $transition-function;
  }

  &-leave {
    animation: wv-dialog-leave $transition-time $transition-function;
  }
}


.wv-dialog-overlay {
  &-transition {
    transition: $transition-time opacity;
  }

  &-enter,
  &-leave {
    opacity: 0;
  }
}





@keyframes wv-dialog-enter {
  from {
    opacity: 0;
    transform: scale(1.02);
  }
}

@keyframes wv-dialog-leave {
  to {
    opacity: 0;
    transform: scale(.98);
  }
}
